{{ define "gundabadInside" }}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
</head>
<body>

<div id="box">
	<h1>Gundabad</h1>
	<p class="text-success">Brána otevřena</p>
</div>

</body>
</html>
{{end}}
