{{ define "pplFooter" }}
        <!-- ***** FOOTER ***** -->
        <div id="Footer">
            <div class="Inner">
                <div class="Left">
                    Zkracujeme vzdálenosti ...
                </div>
                <div class="Right"></div>
            </div>

        </div>
        <!-- ***** FOOTER end ***** -->
    </div>
    </form>
</body>

</html>
{{ end }}
