{{ define "pplInternal" }}
{{ template "pplHeader" . }}
<td valign="top">
	<div class="Inner2">
		<br />
		<div id="ctl00_ContentPlaceMasterPage_pnMain">
			<div id="ctl00_ContentPlaceMasterPage_ctl00_pnlData">
				<h1 style="color: lime; text-align: center;">Access Granted</h1>
			</div>
		</td>
	</tr>
</table>
{{ template "pplFooter" . }}
{{end}}
