{{ define "pplPackageNotFound" }}
{{ template "pplHeader" . }}
<td valign="top">
	<div class="Inner2">
		<br />
		<div id="ctl00_ContentPlaceMasterPage_pnMain">
			<div id="ctl00_ContentPlaceMasterPage_ctl00_pnlData">
		
				<h1 style="color: red; text-align: center;">{{.Message}}</h1>

			</div>
		</td>
	</tr>
</table>
{{ template "pplFooter" . }}
{{end}}
