{{ define "ciaInternal" }}
{{ template "part_header" . }}

{{ template "ciaHeader" . }}
{{ template "part_messageBox" . }}

  <h2>Internal section &ndash; TOP SECRET</h2>
<big id="granted">Access granted</big>
</div>
{{ end }}
