{{ define "ciaIndex" }}
{{ template "ciaHeader" . }}
    <h2>Remote Administration</h2>

	{{ template "part_messageBox" . }}
    To login, use your <abbr title="Special Intelligence Service">SIS</abbr> credentials.

    <form method="post" id="form">
      <input type="text" name="login" placeholder="Secret login">
      <input type="password" name="password" placeholder="Secret password">
      <input type="submit" value="Login">
    </form>
  </div>
</body>
{{ end }}
