{{ define "nsaIndex" }}
{{ template "part_header" . }}
<link rel="stylesheet" type="text/css" href="/static/style.css">

<h1 class='main'>National Security Agency <small>access to intranet</small></h1>

<img src='static/design/nsa_logo.svg' width="400px">

{{ template "part_messageBox" . }}

<form method='post' class='form-horizontal' id='login_form'>
	<div class='form-group'>
		<label for='login_login'>Login:</label>
		<input type='text' id='login_login' class='form-control' name='login' autocomplete='off' autofocus placeholder='Login' value=''>
	</div>
	<div class='form-group'>
		<label for='login_passwd'>Password:</label>
		<input type='password' id='login_passwd' class='form-control' name='password' autocomplete='off' placeholder='Password' value=''>
	</div>
	<div class='form-group'>
		<input type='submit' class='btn btn-primary' value='Login'>
	</div>
</form>
</body>
</html>
{{end}}
