{{ define "nsaIntranet" }}
{{ template "part_header" . }}
<link rel="stylesheet" type="text/css" href="/static/style.css">

<h1 class='main'>National Security Agency <small>intranet</small></h1>

<img src='static/design/nsa_logo.svg' width="220px">

<h1 class='main granted'>Access granted</h1>


</body>
</html>
{{end}}
