{{ define "kgbIndex" }}
{{ template "kgbHeader" . }}

    «Лизаветина работа», — подумал молодой человек. Ни пылинки нельзя было найти во всей квартире.

    <п>«Это у злых и старых вдовиц бывает такая чистота»,  продолжал про себя Раскольников и с любопытством покосился на ситцевую занавеску перед дверью во вторую, крошечную комнатку, где стояли старухины постель и комод и куда он еще ни разу не заглядывал. Вся квартира состояла из этих двух комнат.

    <п>Что угодно. строго произнесла старушонка, войдя в комнату и по-прежнему становясь прямо перед ним, чтобы глядеть ему прямо в лицо.

    <п>Заклад принес, вот-с! И он вынул из кармана старые плоские серебряные часы. На оборотной дощечке их был изображен глобус. Цепочка была стальная.

    <п>Да ведь и прежнему закладу срок. Еще третьего дня месяц как минул.

    <п>Я вам проценты еще за месяц внесу; потерпите.

    <п>А в том моя добрая воля, батюшка, терпеть или вещь вашу теперь же продать.

    <п>Много ль за часы-то, Алена Ивановна.

{{ template "part_messageBox" . }}
    <form id="форма" method="POST">
      <label>туто полницу понехатся зейуце празднотоу: </label><input name="a4" type="password"><br>
      <label>удай прыглашоваци без литеры первейе: </label><input name="a2" type="password"><br>
      <label>борувка пословенскы (нет дыакритики): </label><input name="a8" type="password"><br>
      <label>пассворд безе змиены: </label><input name="a7" type="password"><br>
      <label>каждый лихой изнацхик пассворда (од первого): </label><input name="a10" type="password"><br>
      <label>удай прыглашоваци: </label><input name="a3" type="password"><br>
      <label>летопочет минулого лета: </label><input name="a5" type="password"><br>
      <label>половица првая пассворда: </label><input name="a1" type="password"><br>
      <label>удай прыглашоваци изврацены: </label><input name="a9" type="password"><br>
      <label>другий изначик пассворда: </label><input name="a6" type="password"><br>
      <button>одослат формуларик</button>
    </form>
  </div>
</body>
{{ end }}
