{{ define "villageInside" }}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body id="inside-body">

<div id="box">
	<h1>Kamenná vesnice</h1>
	<p class="text-success">Jste uvnitř.</p>
</div>

</body>
</html>
{{end}}
