{{ define "villageIndex" }}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body id="index-body">

<div id="indexbox">
	<h1>Kamenná vesnice</h1>
	{{ if .Message }}
		<p class="text-{{ .MessageType }}">{{ .Message }}</p>
	{{ end }}
	<form method='post'>
		<input type='password' name='password' autocomplete='off' autofocus>
		<input type='submit' value='Pronést'>
	</form>
</div>

</body>
</html>
{{end}}
