{{ define "hzpIndex" }}
{{ template "hzpHeader" . }}

<main class="main">
<div class="container">
<div class="homeTop">
      <div class="js-view-dom-id-c3f1e21860d7448e32f79695692f8081819273905f38e36f4e1e4a26ffeebbf7">

<div class="homeSlide slick-initialized slick-slider slick-dotted">
  <div class="slick-list draggable" style="height: 520px;">
    <div class="slick-track" style="position: relative;">

      <div class="homeSlide__item slick-slide slick-active" id="slick-slide00">
        <img src="/static/slides/slide1.jpg" alt="Bonusy pro pojištěnce" typeof="foaf:Image" width="900" height="400">
        <div class="homeSlide__text">
          <h2 class="title--h2">Bonusy pro pojištěnce</h2>
          Podívejte se, co jsme pro vás připravili
          <span class="homeSlide__link">
            <a href="#slevy-a-vyhody" class="btnText btnText--more" tabindex="-1" marked="1">Více informací</a>
          </span>
        </div>
      </div>

      <div class="homeSlide__item slick-slide" id="slick-slide01">
        <img src="/static/slides/slide2.jpg" alt="Honem Zpátky Pojď" typeof="foaf:Image" width="900" height="400">
        <div class="homeSlide__text">
          <h2 class="title--h2">HZP je taky Honem Zpátky Pojď!</h2>
          Podporujeme návrat našich pojištěnců domů zpět do Kraje, kde je bezpečněji
          a hrozí jim menší riziko vzniku škodní události.
          <!--<span class="homeSlide__link">
            <a href="#" class="btnText btnText--more" tabindex="-1" marked="1">Chci soutěžit</a>
          </span>
          -->
        </div>
      </div>

      <div class="homeSlide__item slick-slide" id="slick-slide02">
        <img src="/static/slides/slide3.jpg" alt="Jsme tu pro vás!" typeof="foaf:Image" width="900" height="400">
        <div class="homeSlide__text">
          <h2 class="title--h2">Jsme tu pro vás!</h2>
          Praktické informace o probíhajícím střetu ve Středozemi
          <span class="homeSlide__link">
            <a href="#aktuality" class="btnText btnText--more" tabindex="-1" marked="1">Číst</a>
          </span>
        </div>
      </div>

      <div class="homeSlide__item slick-slide" id="slick-slide03">
        <img src="/static/slides/slide4.jpg" alt="Covid-19 - Informace pro poskytovatele zdravotnich sluzeb" typeof="foaf:Image" width="900" height="400">
        <div class="homeSlide__text">
          <h2 class="title--h2">Bojová zranění</h2>
          Napadli vás skřeti? Máte v zádech zabodnutý šíp?
          <span class="homeSlide__link">
            <a href="#" class="btnText btnText--more info-popup" tabindex="-1" marked="1">Vyhledat pomoc</a>
            <span class="info-popup__info hidden" style="padding: 30px; border: 1px #444444 solid; top: -80px;">
              <a href="#" class="info-popup__close" marked="1">
                  <img src="static/img/close.svg" alt="zavřít popup" width="21" height="21">
              </a>
              <span>
              Litujeme, všichni smluvní lékaři jsou právě obsazení, vyčkejte prosím se svým zraněním. A prosím nevytahujte šípy před
              příchodem smluvního lékaře – upozorňujeme, že jakékoliv ošetření u neautorizovaného lékaře může mít za následek pokutu od HZP.
              </span>
            </span>
          </span>
        </div>
      </div>

      <div class="homeSlide__item slick-slide" id="slick-slide04">
        <img src="/static/slides/slide5.jpg" alt="Zdraví v kostce" typeof="foaf:Image" width="900" height="400">
        <div class="homeSlide__text">
          <h2 class="title--h2">Zdraví v kostce</h2>
          Poslechněte si podcasty HZP na vašich oblíbených rozhlasových stanicích
        </div>
      </div>

      <div class="homeSlide__item slick-slide" id="slick-slide05">
        <img src="/static/slides/slide6.jpg" alt="Čaroděj na telefonu" typeof="foaf:Image" width="900" height="400">
        <div class="homeSlide__text">
          <h2 class="title--h2">Čaroděj na telefonu</h2>
          Konzultace všeho možného i nemožného
          <span class="homeSlide__link">
            <a href="#carodej_na_telefonu" class="btnText btnText--more" tabindex="0" marked="1">Čaroděj na telefonu</a>
          </span>
        </div>
      </div>

    </div>
  </div>

  <ul class="slick-dots" style="" role="tablist">
    <li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00">1</button></li>
    <li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01">2</button></li>
    <li role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02">3</button></li>
    <li role="presentation"><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03">4</button></li>
    <li role="presentation"><button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04">5</button></li>
    <li role="presentation"><button type="button" role="tab" id="slick-slide-control05" aria-controls="slick-slide05">6</button></li>
  </ul>
</div>

<span id="transmark" style="display: none; width: 0px; height: 0px;"></span>
</div>

  <div class="homeTop__link">
        <a href="#" class="homeTop__link__item info-popup" marked="1">
          <h3>Buďte<br> online!</h3>
          Zažádejte o přístup <br> do E-komunikace ještě dnes
        </a>
        <span class="info-popup__info hidden" style="padding: 30px;">
          <a href="#" class="info-popup__close" marked="1">
              <img src="static/img/close.svg" alt="zavřít popup" width="21" height="21">
          </a>
          Kvůli nenadálým událostem a kvůli tomu, že náš správce IT padl v bitvě se skřety
          v posledních dnech, tak je registrace nových přístupů do interního systému
          zastavena. Stávající přístupy ale samozřejmě zůstávají v platnosti.
        </span>

        <a href="#fond-prevence-priklad" class="homeTop__link__item" marked="1">
          <h3>Bonusy<br>na cesty</h3>
          Podívejte se na možnosti čerpání z Fondu prevence
        </a>

        <a href="#" class="homeTop__link__item info-popup" marked="1">
          <h3>Soutěž v hackování</h3>
            Soutěžte s námi a vyhrajte zasloužené ceny<br>
        </a>
        <span class="info-popup__info hidden" style="padding: 30px;">
          <a href="#" class="info-popup__close" marked="1">
              <img src="static/img/close.svg" alt="zavřít popup" width="21" height="21">
          </a>
          <span>
          Každý tým, který se první dostane do nějakého ze systémů (a přijde to
          nahlásit Gimlimu s tajným heslem <code>#hzp-soutez</code>), dostane
          odměnu. A to se vyplatí!
          </span>
        </span>

        <a href="#slevy-a-vyhody" class="homeTop__link__item" marked="1">
          <h3>Slevy<br>a výhody</h3>
          Dostupné produkty z dovozu pro naše pojištěnce.
        </a>
  </div>

<div id="aktuality" class="card">
  <h2 class="title--h2">Aktuality</h2>
  <div class="articleList">
    <article class="articleList__item">
      <img src="static/img/mordor_porazen.webp" alt="Mordor poražen" typeof="foaf:Image" width="296" height="170">
      <div class="articleList__text">
        <h3><a marked="1">Mordor poražen, jaké změny to přinese do Středozemě?</a></h3>
        <p><date>12. 5.</date> | <strong>#Pojištěnci</strong> | <strong>#Plátci</strong></p>
        <p>
          Dobrou zprávou pro všechny pojištěnce i pro plátce pojištění (například zaměstnavatele) je
          to, že ratingová agentura Sláma &amp; syn snížila po nedávném zničení sil Mordoru úroveň
          nebezpečí v celé Středozemi. To se v nejbližších měsících odrazí na snížení výše pojistného
          za všechny pojištěnce.
        </p>
      </div>
    </article>
    <article class="articleList__item">
      <img src="static/img/helmuv_zleb.webp" alt="Helmův žleb" typeof="foaf:Image" width="296" height="170">
      <div class="articleList__text">
        <h3><a marked="1">Velké ztráty u Helmova žlebu!</a></h3>
        <p><date>10. 5.</date> | <strong>#Plátci</strong> | <strong>#Poskytovatelé</strong></p>
        <p>
          Obránci prý nakonec
          přežili, ale je mnoho raněných. Poskytovatelé zdravotní péče budou teď velmi vytížení a může
          dojít i k odkladu plánovaných zákroků. Pro HZP to bude nákladné – některým zraněným bude potřeba
          poskytnout velmi drahou péči (náhrobek by byl řádově levnější…). "Má vůbec smysl takové raněné zachraňovat?" glosoval
          prezident HZP. HZP pravděpodobně bude muset sáhnout ke zvýšení pojistného.
        </p>
      </div>
    </article>
    <article class="articleList__item">
      <img src="static/img/sifry.webp" alt="Šifry" typeof="foaf:Image" width="296" height="170">
      <div class="articleList__text">
        <h3><a marked="1">Luštění šifer tříbí mozek i ve vysokém věku</a></h3>
        <p><date>9. 5.</date> | <strong>#Pojištěnci</strong> </p>
        <p>
          Nedávné výzkumy elfů ukázaly, že kdo pravidelně luští šifry každý den
          (nebo nanejvýše obden), má mnohem vyšší šanci zachovat si bystrou mysl
          i do vysokého věku. Pokud už je ale luštíte moc dlouho, objeví se
          problémy, jak se nám povedlo vyzpovídat našeho čaroděje: "To víte,
          za těch pár tisíc let se už docela blbě hledá šifra, kterou bych ještě
          neluštil. Většinou mi hledání šifry zabere více času, než její luštění."
        </p>
      </div>
    </article>
    <article class="articleList__item">
      <img src="static/img/bilbo_oslava.jpg" alt="Oslava narozenin" typeof="foaf:Image" width="296" height="170">
      <div class="articleList__text">
        <h3><a marked="1">Náš pojištěnec oslavil nedávno 111. narozeniny</a></h3>
        <p><date>7. 5.</date> | <strong>#Pojištěnci</strong></p>
        <p>
          Oslavenec se nechal prý slyšet, že mu "… k dlouhověkosti rozhodně a zásadně pomohla
          nadstandardní péče poskytovaná HZP jejím pojištěncům. Čím by to taky bylo jiným, že? Cha!"
        </p>
      </div>
    </article>
  </div>
</div>

<div class="js-view-dom-id-3c14f3d69d4fc79fd13b7cecac9721c003b96787a51beb36f3f5b28f1438bccb">
  <div class="cardCalendarSimple">
				<h2>Kalendář proběhlých akcí za minulý týden</h2>
        <div class="cardCalendarSimple__list">
          <div class="cardCalendarSimple__item">
            <p><date>sobota <span>|</span> odpoledne</date> <span>|</span> Hobitín</p>
            <strong>Bilbova oslava narozenin</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>neděle <span>|</span> ráno</date> <span>|</span> Klokočov</p>
            <strong>Hobití seznamka</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>pondělí <span>|</span> odpoledne</date> <span>|</span> opět Klokočov</p>
            <strong>Šifrování s Kuličkou aneb pojďme si hrát a běhat</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>úterý <span>|</span> celý den</date> <span>|</span>různě</p>
            <strong>Tam a zase zpátky</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>úterý <span>|</span> večer</date> <span>|</span> V Lorienu</p>
            <strong>Čaj na počest velikého čaroděje</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>středa <span>|</span> odpoledne</date> <span>|</span> na klidném místě</p>
            <strong>Kulinářská perníčková soutěž</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>čtvrtek <span>|</span> v noci</date> <span>|</span> Mordor</p>
            <strong>Happening na téma "Zničení prstenu moci… aneb jsme opravdu svobodní?"</strong>
          </div>
          <div class="cardCalendarSimple__item">
            <p><date>pátek <span>|</span> odpoledne</date> <span>|</span> zase Klokočov</p>
            <strong>Tak kdo to dneska vyhraje?</strong>
          </div>
        </div>
  </div>
</div>


<div id="fond-prevence-priklad" class="cardImportnat cardImportnat--prispevky">
<h3>Modelový příklad čerpání bonusů z fondu prevence</h3>

<p><strong>Až 12 000 zlaťáků pro devítičlennou výpravu</strong></p>

<table style="position: relative; z-index: 10; background-color: #6836a980;">
	<tbody>
		<tr>
			<td>Důležitý hobit</td>
			<td>úprava velikosti mitrilové košile od strýčka</td><td class="text--right">1 000&nbsp;Zl</td>
		</tr>
    <tr>
      <td>Užitečný hobi</td>
			<td>kurz vaření v divočině</td><td class="text--right">1 500&nbsp;Zl</td>
		</tr>
		<tr>
			<td>Bojovník královské krve</td>
			<td>skutí dlouho rozbitého meče</td><td class="text--right">2 000&nbsp;Zl</td>
		</tr>
		<tr>
      <td>Bojovník jiné krve</td>
			<td>vážně velký roh</td><td class="text--right">500&nbsp;Zl</td>
		</tr>
		<tr>
			<td>Lehkonohý elf</td>
			<td>znovupoužitelné šípy s tepelným naváděním</td>
			<td class="text--right">1 500&nbsp;Zl</td>
    </tr>
		<tr>
			<td>Trpaslík</td>
      <td>zastřihnutí plnovousu</td>
			<td class="text--right">1 000&nbsp;Zl</td>
		</tr>
		<tr>
      <td>Další hobit</td>
			<td>pyrotechnická příručka "Odpalujeme ohňostroje"</td>
			<td class="text--right">750&nbsp;Zl</td>
		</tr>
		<tr>
      <td>Náhodný hobit</td>
      <td>kauce za krádež zeleniny</td>
			<td class="text--right">1 250&nbsp;Zl</td>
		</tr>
		<tr>
      <td>čaroděj</td>
      <td>špičatý klobouk</td>
			<td class="text--right">2 500&nbsp;Zl</td>
		</tr>
	</tbody>
</table>
<img class="cardImportnat__bg" src="static/img/spolecenstvo.png" style="max-height: 80%;" alt=""></div>

<div class="homeBenefits">

  <div class="homeBenefits__title">
    <h2 class="homeBenefits__titleH2s">Proč být s námi?</h2>
    <span class="homeBenefits__title__text">
        <p>Máme pro vás řadu výhod, které oceníte.</p>
        <p>Být u HZP je <br>výhra pro vaše zdraví. Respektujeme individuální hobití potřeby</p>
    </span>
    <span class="homeBenefits__title__image">
        <picture>
            <source media="(max-width:1060px)" srcset="static/img/proc_byt_s_nami2.png 1x">
            <source srcset="static/img/proc_byt_s_nami2.png 2x">
            <img src="static/img/proc_byt_s_nami.png" alt="">
        </picture>
    </span>
  </div>

  <div id="carodej_na_telefonu" class="homeBenefits__lekar">
    <div class="homeBenefits__lekar__img">
      <img src="static/img/gandalf.png" alt="Ilustrační obrázek" style="max-width: 110%;">
    </div>
    <div class="homeBenefits__text">
      <h2 class="homeBenefits__titleH2s">Čaroděj na telefonu</h2>
      <p>Služba Čaroděj na telefonu je pro pojištěnce Hobití zdravotní pojišťovny
        k dispozici v pondělky, středy a neděle.</p>
      <p>Stačí zavolat… nahlas</p>
      <a href="#" class="btnText btnText--more info-popup" marked="1">Jak to funguje</a>
      <span class="info-popup__info hidden" style=" border: 1px black solid;">
          <a href="#" class="info-popup__close" marked="1">
              <img src="static/img/close.svg" alt="zavřít popup" width="21" height="21">
          </a>
          <span class="info-popup__item">
            <img src="static/img/tel.svg" alt="">
            Čaroděje vyvoláte hlasitým voláním jeho jména. Když bude mít chuť, čas,
            uslyší vás a nebude zrovna v zajetí, tak se nejdéle do 48 dnů zjeví.
          </span>
          <span class="info-popup__item">
            <img src="static/img/warning.png" alt="">
            Upozorňujeme, že služba může být zpoplatněna nutností účasti na
            nějakém dobrodružství dle čarodějovy volby. Byli jste varováni.
          </span>
      </span>

    </div>
  </div>

  <div class="homeBenefits__left">
    <div class="homeBenefits__bonusy">
      <div class="homeBenefits__bonusy__img">
        <img src="static/img/hobits.jpg" alt="Ilustrační obrázek" style="max-width: none; max-height: 100%;">
      </div>
      <div class="homeBenefits__text" style="padding-bottom: 0px;">
        <h2 class="homeBenefits__titleH2s">Bonusy z fondu prevence</h2>
        <p>Více než 100 bonusových příspěvků, které vám pomohou připravit se na vaše cesty (třeba když vás
          nějaký čaroděj zatáhne náhodou do dobrodružství).</p>
      </div>
    </div><!--//homeBenefits__bonusy-->
    <div class="homeBenefits__slevy">
      <div class="homeBenefits__slevy__img">
        <img src="static/img/kofola.png" style="max-height: 100%; margin-left: 30px;" alt="Ilustrační obrázek">
      </div>
      <div id="slevy-a-vyhody" class="homeBenefits__text">
        <h2 class="homeBenefits__titleH2s">Program slev a výhod</h2>
        <p>Slevy a výhody u našich partnerů</p>
        <a href="#" class="btnText info-popup" marked="1">Chci slevy a výhody</a>
        <span class="info-popup__info hidden" style="margin-top: -100px; margin-left: 50px; color: black; padding: 30px; border: 1px black solid;">
          <a href="#" class="info-popup__close" marked="1">
              <img src="static/img/close.svg" alt="zavřít popup" width="21" height="21">
          </a>
            Kofolu a spoustu jiných věcí můžeš za výhodné ceny sehnat v Mlsníku. Tak neotálej a vydej se tam. Mlsník čeká.<br>

            <p style="margin-left: 10px;">Už jsi měl druhou snídani? A co třetí?</p>
        </span>
      </div>
    </div><!--//homeBenefits__bonusy-->
  </div><!--//homeBenefits__left-->

  <div class="homeBenefits__dekujeme">
    <div class="homeBenefits__text">
      <h2 class="homeBenefits__titleH2s">Jsme ONLINE a vaše zdraví může být také</h2>
      <p>Přihlaste se do naší interní zóny</p>
      <a href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="btnText btnText--more" marked="1">K přihlášení</a>
    </div>

    <div class="homeBenefits__dekujeme__img">
      <img src="static/img/gandalf_online.webp" alt="Ilustrační obrázek">
    </div>
  </div><!--//homeBenefits__dekujeme-->
</div>

</div><!--//container-->
</main>
</div>

<script type="text/javascript">
  function slideSet(id) {
    $(".slick-slide.slick-active").removeClass("slick-active");
    $("#"+id).addClass("slick-active");
    $(".slick-dots li").removeClass("slick-active");
    $(".slick-dots li [aria-controls='" + id + "'").parent().addClass("slick-active");
  }

  $(".slick-dots li button").click(function(e) {
    slideSet($(this).attr("aria-controls"));
  });

  var i = 0;
  $(document).ready(function() {
    setInterval(function() {
      if ($(".homeSlide:hover").length > 0) {
        return; // do nothing
      }
      set = $(".slick-dots li button");
      i++;
      if (i >= set.length) { i = 0; }
      set[i].click();
    }, 4000);
  });


  $(".info-popup").click(function(e) {
    $(this).next(".info-popup__info").removeClass("hidden");
    return false;
  });
  $(".info-popup__close").click(function(e) {
    $(this).parent(".info-popup__info").addClass("hidden");
    return false;
  });
</script>

</body>
</html>
{{ end }}
